{% extends "base.html" %}


<head>
    <h1>About Us</h1>  
</head>

{% block body %}

<body>

<img src="https://i.gifer.com/origin/c1/c1f7a8bbe5d52dca92d9c62743cec9b7_w200.gif" alt="...">
<h3>This is Fix Your Sleep Schedule and I made this so that teenagers can track how much their sleeping and see if the amount of sleep they get affects their days. </h3>
<h3>Alexander Escobar the owner of Fix Your Sleep Schdule is a senior at Oakland Technical Highschool.</h3>
<img src="https://media0.giphy.com/media/v8Y5lgiv2cOH8ToNjT/200w.gif?cid=6c09b952h94cjh6gzlbcrqf5kbbsvf1saxpcp32hcvjxk5pq&ep=v1_gifs_search&rid=200w.gif&ct=g" alt="...">
</body>
{% endblock %}