
  
    {% extends 'base.html' %}


{% block body %}
           
<div style="background-color: #6e458a;" >  
  

      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <h1 class="display-4 text-center ">Welcome!</h1>
    
      



    <h1 class=" display-6 text-center"> to</h1>

   


    <h1 class="display-4 text-center"> Fix Your Sleep Schedule </h1>
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-5 whtie" >
        <div class="row">
        <div class="col">
          <b> Our Goal:</b>
          <p>A sleep tracker for students made by Alexander Escobar, specialized for people who struggle to sleep at reasonable times. <p> </p></p>
        </div>
    </div>
    </div>

    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">


     
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">

          
     
<p></p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
        <img src="https://mail.google.com/mail/u/1?ui=2&ik=39ca154eda&attid=0.1&permmsgid=msg-f:1796442851433101122&th=18ee3f4162f5b742&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9auQ9qeNxv7aiAwxb_guCrXhoN2iwt-6Fq2XD0_oazm-esT80Oahf1gqzZxwPaLg4S9ornJXT1Yyjui_9Ot69Bx9SfWd-DLQAH-q2k7nzW00aaCnRLokoG9L0&disp=emb&realattid=ii_lv1jry0e0" class="d-block w-100" alt="..." width="200" height="500">
      </div>
      <div class="carousel-item">
        <img src="https://mail.google.com/mail/u/1?ui=2&ik=39ca154eda&attid=0.2&permmsgid=msg-f:1796442851433101122&th=18ee3f4162f5b742&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ8D45UxJ35oEXxL7CtgSVm2NWS5xN3vfLyZnbSHJj6n-Rw9cV-B18IsNR5DlaJp8zY69VUcV0-M8CFbjb6Tbs0yftf_flWCpLK4ft-2dFTVjUX29i-og5d0udA&disp=emb&realattid=ii_lv1js0311" class="d-block w-100" alt="..."  width="200" height="500" >
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




    
    


    

    {% endblock %}