{% extends "base.html" %}

{% block body %}
        <h1>Sleep Form</h1>

        <form method=post>
            {{ form.hidden_tag() }}
            <p>
                {{ form.sleep_date.label }} <br>
                {{ form.sleep_date() }}
                <!--List the errors for this field-->
                {% for error in form.sleep_date.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.starttime.label }} <br>
                {{ form.starttime(size=6) }}
                <!--List the errors for this field-->
                {% for error in form.starttime.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.wake_date.label }} <br>
                {{ form.wake_date() }}
                <!--List the errors for this field-->
                {% for error in form.wake_date.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.goal.label }} <br>
                {{ form.goal(size=6) }}
                <!--List the errors for this field-->
                {% for error in form.endtime.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.endtime.label }} <br>
                {{ form.endtime(size=6) }}
                <!--List the errors for this field-->
                {% for error in form.endtime.errors %}
                   <br> <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

 
            <p>
                {{form.submit()}}
            </p>
        </form>
        <img src="https://gifdb.com/images/high/cute-dog-sleep-well-exrij6pz8r18ag3d.gif" class="rounded float-start" width = "200" hieght= "200" alt="...">
{% endblock %}
